#root {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;

  font-family: 'Creepster', cursive;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-buttons);
  transition: border-color 0.25s;
  outline: none;
}
button:hover {
  border-color: var(--color-orange);
}

.in-index {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 10px;
}

.in-index span {
  line-height: 0;
  margin-top: -7px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-section2 {
  background-image: url('../images/imagen-seccion-secundaria.webp');
  background-size: cover;
  background-position: center;

  position: relative;
}

img.img-scary2 {
  position: absolute;
  width: 9%;
  top: 10px;
  right: 10px;
}

img.img-scary {
  position: absolute;
  width: 7%;
  bottom: 10px;
  left: 10px;
}

.main-image {
  height: 100vh;
  background-image: url('../images/imagen-principal.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-orange);
  text-shadow: 2px 2px 4px #000000;
  position: relative;
  z-index: 1;
}

.main-image .horror-text-layer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 160px;
}

.main-image .horror-text-layer h2 {
  width: 100%;
  position: absolute;
  top: -5.5rem;
  left: 0;

  transition: 0.7s ease-out;
  font-family: 'Phantom Fingers';
  letter-spacing: 10px;
  line-height: 150px;
  font-weight: 700;
  font-size: 80px;
}

.animate-hide {
  opacity: 0;
}

.animate {
  opacity: 1;
  animation: horrorTitle 4s linear infinite;
}

.main-icon {
  background: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  width: auto;
  position: absolute;
  bottom: 10px;
  color: #fff;
  font-size: 60px;
  animation: cross 1.5s linear infinite;
}

.main-icon:hover {
  background: transparent;
  color: var(--color-orange);
}

.scary-message {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 2rem;
}

.scare-button {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: var(--bg-buttons);
  color: var(--color-orange);
  border: none;
  transition: all 0.3s ease;
  outline: none;
}

.scare-button:hover {
  background-color: var(--color-orange);
  color: var(--bg-buttons);
}

.info-section {
  background-color: var(--bg-sections);
  padding: 2rem;
  text-align: justify;
}

.info-section h2 {
  color: #ff0000;
  margin-bottom: 1rem;
}

.info-section p {
  font-size: 21px;
  font-family: 'Shadows Into Light', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 1rem;
}

.content-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--bg-sections);
}

.input-section,
.explanation-section {
  flex: 1;
  padding: 1rem;
}

.btn-subir {
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
  margin: auto;
  width: 40%;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

textarea {
  width: 100%;
  min-height: 150px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #1a1a1a;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
  outline: none;
  resize: none;
  field-sizing: content;
}

button {
  padding: 10px 20px;
  background-color: var(--bg-buttons);
  color: var(--color-orange);
  border: none;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--color-orange);
  color: var(--bg-buttons);
}

.explanation-section {
  margin-top: -20px;
}

.explanation-section h2 {
  color: var(--color-orange);
  margin-top: 0;
  margin-bottom: 1rem;
}

.alert-eye {
  font-size: 2em;
  color: #00ff9c;
  font-family: 'Creepster', cursive;
}

.explanation-section p {
  color: #ffffff;
  text-align: justify;
  font-size: 17px;
  font-family: 'Shadows Into Light', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.card-preview-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--bg-sections);
  padding-bottom: 4rem;
}

.card-preview {
  flex: 1;
  max-width: 45%;
  text-align: center;
  position: relative;
}

.card-preview h3 {
  color: var(--color-orange);
  margin-bottom: 1rem;
}

.card-image {
  width: 100%;
  max-width: 300px;
  height: 175px;
  border: 2px solid var(--color-orange);
  box-shadow: 0 0 10px #ff0000;
  border-radius: 4px;
}

.container-advanced-gif {
  position: relative;
}

.advanced-gif {
  margin: 0 auto;
  inset: 0;
  position: absolute;
}

video.advanced-gif {
  object-fit: cover;
}

.advanced-transition {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.btn-download {
  padding: 0px 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 6px;
  background-color: var(--bg-buttons);
  color: var(--color-orange);
  border: none;
  transition: all 0.3s ease;
}

.download-button {
  position: absolute;
  top: 0;
  right: calc(40% - 300px / 2);
  z-index: 1000;
  background-color: rgba(74, 14, 14, 0.8);
  border: none;
  border-radius: 50%;
  padding: 8px;
  line-height: 0;
  transition: all 0.3s ease;
}

.download-button svg {
  width: 24px;
  height: 24px;
  fill: var(--color-orange);
}

.download-button:hover svg {
  fill: rgba(74, 14, 14, 0.8);
}

.loading-download {
  animation: spin 1s linear infinite;
}

.jump-scare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.jump-scare img {
  width: 30%;
  max-width: 100%;
  max-height: 100%;
}

.secondary-title {
  animation: flicker 13s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes cross {
  0% {
    bottom: 40px;
  }

  25% {
    bottom: 25px;
  }

  50% {
    bottom: 10px;
  }

  75% {
    bottom: 25px;
  }

  100% {
    bottom: 40px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes horrorTitle {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  6% {
    opacity: 1;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  12% {
    opacity: 1;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1);
    transform: scale(1);
    color: inherit;
  }
  20% {
    opacity: 1;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: transparent;
  }
  20.2% {
    opacity: 0.8;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(2);
    transform: scale(2);
    color: inherit;
  }
  20.4% {
    opacity: 0.8;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(2);
    transform: scale(2);
    color: inherit;
  }
  22.2% {
    opacity: 0.8;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(2);
    transform: scale(2);
    color: transparent;
  }
  22.4% {
    opacity: 0.7;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(2);
    transform: scale(2);
    color: inherit;
  }
  24% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1155px) {
  .content-section {
    align-items: center;
  }
}

@media screen and (max-width: 1055px) {
  .explanation-section p {
    font-size: 0.9em;
  }

  .alert-eye {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 860px) {
  .content-section {
    flex-direction: column-reverse;
    gap: 0px;
  }
}

@media screen and (max-width: 740px) {
  .card-preview-section {
    flex-direction: column;
    align-items: center;
  }

  .card-preview {
    width: 100%;
    max-width: 100%;
  }

  .container-advanced-gif {
    min-height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .main-image .horror-text-layer h2 {
    top: -2rem;
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .horror-text-layer {
    margin-top: -5rem;
  }

  .main-image .horror-text-layer h2 {
    top: 0rem;
    font-size: 35px;
  }

  .scary-message {
    margin-top: 3.5rem;
    font-size: 1.2em;
  }

  .scare-button {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 543px) {
  .secondary-title {
    font-size: 20px;
  }

  .info-section p {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 486px) {
  .content-section {
    padding: 0.5rem;
  }

  textarea {
    width: auto;
  }
}

@media screen and (max-width: 372px) {
  .main-image .horror-text-layer h2 {
    font-size: 25px;
  }

  .scary-message {
    margin-top: 0rem;
    font-size: 0.9em;
  }

  .scare-button {
    font-size: 0.6em;
  }

  .secondary-title {
    font-size: 16px;
  }

  .info-section p {
    font-size: 0.6em;
  }

  .content-section {
    padding: 0rem;
  }
}

@media screen and (max-width: 365px) {
  .card-preview-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .explanation-section p {
    font-size: 0.8em;
  }

  .alert-eye {
    font-size: 1.5em;
  }
}
